################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ObjectMap.NET.slnx
/PerformanceTest/bin
/PerformanceTest/obj
